
// Fonts
$font-stack: 'Roboto', sans-serif;
$font-fira: 'Fira Sans', sans-serif;
$font-pts: 'PT Serif', serif;

// Colors
$body-color: #33865c;

$text-color-main: #212020;
$text-color-norm: #333;
$text-color-h: #4c4c4c;
$text-color-sm: #5e5e5e;

$color-bd: #999;
$color-bd-2: #ccc;

$radius-c: #888;
$radius-c-green: rgb(196, 224, 193);

$bg-color: #f9f9f9;
$bg-color-2: #171919;
$bg-color-3: rgb(251, 251, 251);
$bg-color-4: #fdfcfc;
$bg-color-5:#f3fbf1;

$link-menu: #1e73be;

$white: #fff;
$green: #4AF6CD;
$green-medium: #33865c;
$green-medium-2: #0b3a22;

$green-bd: #66b87b;
$green-bd2: #87d88f;

$green-btn: $body-color;

$main-search-color: #324b4eb8;

// border
$orange-border: #de7e1f;

$main-radius: 10px;


// Console
$status-access: #43852f;